<h1>Students in your house:</h1>

<div id="students">
  <% @students.each do |student| %>
    <% if student.Building == "Quinby House" %>
      <%= render student %>
      <p>
        <%= link_to "Show this student", student %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "Click here to add your info", new_student_path %>