<h1>Boody-Johnson Residents</h1>
<%= image_tag("boodyjohnson.jpg", :size => "260x180", :crop => :fill)%>
<div id="students">
	<% @students.each do |student| %>
			<% if student.Building == "Boody-Johnson" %>
			<%= render student %>
			<p>
				<%= link_to "Show this student", student %>
			</p>
			<% end %>
	<% end %>
</div>

<%= link_to "Return home", root_path %>
