<h1>Helmreich Residents</h1>

<div id="students">
	<% @students.each do |student| %>
			<% if student.Building == "Helmreich" %>
			<%= render student %>
			<p>
				<%= link_to "Show this student", student %>
			</p>
			<% end %>
	<% end %>
</div>

<%= link_to "Return home", root_path %>
