<h1>Quinby Residents</h1>
<%= image_tag("quinby.jpg", :size => "260x180", :crop => :fill)%>

<div id="students">
	<% @students.each do |student| %>
			<% if student.Building == "Quinby" %>
			<%= render student %>
			<p>
				<%= link_to "Show this student", student %>
			</p>
			<% end %>
	<% end %>
</div>

<%= link_to "Return home", root_path %>
